.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.counter h1 {
  color: black;
  font-size: 40px;
  font-family: Tahoma;
}

.counter h2 {
  color: blue;
  font-size: 20px;
  font-family: Tahoma;
  padding: 0;
  margin: 0;
}

.counter_output {
  font-size: 30px;
  color: red;
  padding: 0;
  margin: 0;
}

.btn_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.control_btn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: Tahoma;
}

.cursor_btn:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}